* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  transition-property: all;
  transition-duration: 700ms;
}
.container {
  margin: 0 auto;
  margin-top: 40px;
  width: 50rem;
  border: 5px solid black;
  position: relative;
}
nav {
  background-color: #f8f8f8;
}
h1 {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
}
.main-header {
  padding: 15px;
}
p strong {
  font-size: 25px;
}
p {
  margin-bottom: 10px;
}
.shipping {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}
.box {
  margin: 20px 0;
}

a:link {
  color: black;
  font-weight: bold;
}
a:hover {
  text-decoration: none;
}
a:visited {
  color: rgb(0, 0, 182);
}
h3 {
  text-transform: uppercase;
  font-weight: bold;
}
.sale {
  position: absolute;
  background-color: rgb(242, 30, 30);
  color: #fff;
  letter-spacing: 4pt;
  text-align: center;
  padding: 10px;
  left: -25px;
  top: -25px;
}
button {
  color: white;
  text-transform: uppercase;
  background-color: black;
  width: 100%;
  border: 5px solid black;
  font-size: 20px;
}
li {
  margin-bottom: 20px;
  margin-left: 20px;
}
article button:hover {
  color: black;
  background-color: white;
}

.toggle-btn{
  float: right;
  margin-right: 1rem;
  border: none;
}
.toggle-btn p{
  margin-top: 0.5rem;
}
.toggle-btn button{
  padding: 0.5rem;
  border: none;
}

.dark-mode{
  background-color: #444;
  color: white;
  transition-property: all;
  transition-duration: 700ms;
}
.light-mode{
  background-color: white;
  color: black;
  transition-property: all;
  transition-duration: 700ms;
}